{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0 glow-effect_blue blur-on-scroll" src="static/img/me_no_bg.png" alt="..." width="600"/>
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded-dark rounded p-5 glow-effect scroll-animation">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Lorem ipsum dolor sit amet</span>
                                    <span class="section-heading-lower">Consectetur adipiscing elit</span>
                                </h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p class="mb-0">
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}
