{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Secrets{% endblock %}

{% block content %}
<body>
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center rounded">
                    <div class="product-item-title right">
                        <div class="bg-faded p-5 d-flex ms-auto rounded glow-effect custom-gradient-bg">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-lower">{{ text }}</span>
                                <span class="section-heading-upper">Send me a message and you'll get a respond ASAP.</span>
                            </h2>
                        </div>
                    </div>

                    {{ form.csrf_token }}
                    {% if form.csrf_token.errors %}
                    <div class="warning">You have submitted an invalid CSRF token</div>
                    {% endif %}
                    <form method="POST">
                        {{ form.hidden_tag() }}  <!-- CSRF-skydd -->

                        <div class="glow-effect-input glow-effect product-item-title right" style="margin-top: 100px;">
                            {{ form.phone(class="form-control") }}
                            <!-- StringField utan etikett -->
                        </div>

                        <div class="glow-effect-input glow-effect product-item-title left" style="margin-top: 40px">
                            {{ form.email.label }}  <!-- Visar etiketten -->
                            {{ form.email(class="form-control") }}
                        </div>

                        <div class="intro-text" style="margin-top: 30px">
                            {{ form.body.label }}  <!-- Etikett för CKEditor -->
                            {{ form.body(class="form-control") }}  <!-- CKEditor-fältet -->
                            {{ ckeditor.load(pkg_type="basic") }}  <!-- Laddar CKEditor -->
                            {{ ckeditor.config(name=form.body.id) }}  <!-- Använder formulärets fält-ID -->
                        </div>

                        <button type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>
                    </form>

                    <p class="address mb-5">
                        <em>
                            <strong>1116 Orchard Street</strong>
                            <br/>
                            Golden Valley, Minnesota
                        </em>
                    </p>
                    <p class="mb-0">
                        <small><em>Call Anytime</em></small>
                        <br/>
                        (317) 585-8468
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
{% endblock %}
