{% extends "base.html" %}

{% block title %}My Projects{% endblock %}

{% block content %}
<body>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title right d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded glow-effect custom-gradient-bg">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">A two-way</span>
                        <span class="section-heading-lower">Morse En- & Decoder</span>
                    </h2>
                </div>
            </div>
            <a href="{{ url_for('morse_decoder') }}">
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 glow-effect_blue"
                     src="static/img/morse.jpeg" alt="..."/>
            </a>
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded-dark p-5 rounded glow-effect">
                    <p class="mb-0">Morse En- & Decoder is a web-based tool that lets you easily convert regular text to Morse
                        code — and vice versa! Type a message to have it played back as sound, or analyze a recorded
                        Morse pattern to get the decoded text. The website is built with Flask (Python) and combines
                        modern web technologies like HTML, CSS, and JavaScript for a smooth user interface. <br><br>
                        Several powerful Python libraries are used behind the scenes: <b>Flask</b> for the web
                        framework, <b>WTForms</b> for secure web forms, and <b>Simpleaudio</b> for sound playback. For
                        handling sound recording and analysis, the project uses <b>SoundDevice</b>, <b>SoundFile</b>,
                        and <b>NumPy</b> for audio operations and array processing; <b>SciPy</b> and <b>Librosa</b> to
                        generate and visualize spectrograms; and <b>Matplotlib</b> for plotting. <br><br>
                        <b>Text to Morse</b>: This feature generates and plays audio files mapped to each character's
                        Morse code.<br>
                        <b>Morse to Text</b>: You can record sounds; the backend creates a spectrogram using
                        these audio and plotting libraries, then processes the image to interpret the Morse patterns
                        back to text.
                        <br><br>
                        In this way, Morse En- & Decoder becomes a fun and educational tool for anyone who wants to experiment
                        with Morse code!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title left d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded glow-effect custom-gradient-bg">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Lorem ipsum dolor sit amet</span>
                        <span class="section-heading-lower">Consectetur adipiscing elit</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 glow-effect_blue"
                 src="static/img/products-02.jpg" alt="..."/>
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded-dark p-5 rounded glow-effect">
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title right d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded glow-effect custom-gradient-bg">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Nemo enim ipsam voluptatem</span>
                        <span class="section-heading-lower">Quia voluptas sit aspernatur</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 glow-effect_blue"
                 src="static/img/products-03.jpg" alt="..."/>
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded-dark p-5 rounded glow-effect">
                    <p class="mb-0">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}
